{% extends 'student/studentbase.html' %}
{% block content %}
    {% load widget_tweaks %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


</head>


<div class="jumbotron my-4">

  <form method="POST" class="form" autocomplete="off" onsubmit="return saveAns()" >
    {% csrf_token %}
    <h2 style="text-align: center;">Course: {{course.course_name}}</h2>
        <div style="text-align: center">
            <img style="width: 30em; height: 30em;" src="{% get_media_prefix %}{{question.quiz_pic}}">
        </div>

        <input type="hidden" name="csrfmiddlewaretoken" value="C24rUotmdHawVQJL3KrqiWxvti8UffOFYUc8TRbZtLt36AVLdP3jbkzUVe3beRAa">
        
        
          <label for="answer">Correct Answer 1</label>
      {% render_field studentForm.answer1|attr:'required:true' class="form-control" %}
          <br>
        <label for="answer">Correct Answer 2</label>
        {% render_field studentForm.answer2|attr:'required:true' class="form-control" %}
          <br>
        <label for="answer">Correct Answer 3</label>
        {% render_field studentForm.answer3|attr:'required:true' class="form-control" %}
          <br>
        <label for="answer">Correct Answer 4</label>
        {% render_field studentForm.answer4|attr:'required:true' class="form-control" %}
          <br>
        <label for="answer">Correct Answer 5</label>
        {% render_field studentForm.answer5|attr:'required:true' class="form-control" %}
          <br>
        <label for="answer">Correct Answer 6</label>
        {% render_field studentForm.answer6|attr:'required:true' class="form-control" %}
          <br>
        <label for="answer">Correct Answer 7</label>
        {% render_field studentForm.answer7|attr:'required:true' class="form-control" %}
          <br>
        <label for="answer">Correct Answer 8</label>
        {% render_field studentForm.answer8|attr:'required:true' class="form-control" %}
          <br>
        <label for="answer">Correct Answer 9</label>
        {% render_field studentForm.answer9|attr:'required:true' class="form-control" %}
          <br>
        <label for="answer">Correct Answer 10</label>
        {% render_field studentForm.answer10|attr:'required:true' class="form-control" %}
          <br>
        <input class="btn btn-success btn-lg" style="border-radius: 0%;"  type="submit" value="Submit Answers">
    </form>
  </div>

<script> 
    function saveAns(){  

        var ele = document.getElementsByTagName('input'); 
        for(i = 0; i < ele.length; i++) { 
            if(ele[i].type="radio") { 
                if(ele[i].checked){        
                  setCookie(ele[i].name,ele[i].value,3)
                }
            } 
        } 
          
    }
    
    function setCookie(cname, cvalue, exdays) {
  var d = new Date();
  d.setTime(d.getTime() + (exdays*24*60*60*1000));
  var expires = "expires="+ d.toUTCString();
  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}

</script> 

<br><br><br><br><br><br>
{% endblock content %}