{% extends 'teacher/teacherbase.html' %}
{% load widget_tweaks %}
{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
       <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  a:link {
        text-decoration: none;
      }
    
  </style>
</head>
<h2 style="text-align:center;">Add Question</h2>
<form method="POST" enctype="multipart/form-data" autocomplete="off" style="margin:100px;margin-top: 0px;">
    {%csrf_token%}
    <div class="form-group">
        <label for="question">Course</label>
      {% render_field questionForm.courseID|attr:'required:true' class="form-control"  %}
        <br>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="profile_pic">Quiz Image</label>
          {% render_field questionForm.quiz_pic|attr:'required:true' class="form-control" placeholder="" %}
        </div>
      <label for="answer">Correct Answer 1</label>
      {% render_field questionForm.answer1|attr:'required:true' class="form-control" %}
          <br>
        <label for="answer">Correct Answer 2</label>
        {% render_field questionForm.answer2|attr:'required:true' class="form-control" %}
          <br>
        <label for="answer">Correct Answer 3</label>
        {% render_field questionForm.answer3|attr:'required:true' class="form-control" %}
          <br>
        <label for="answer">Correct Answer 4</label>
        {% render_field questionForm.answer4|attr:'required:true' class="form-control" %}
          <br>
        <label for="answer">Correct Answer 5</label>
        {% render_field questionForm.answer5|attr:'required:true' class="form-control" %}
          <br>
        <label for="answer">Correct Answer 6</label>
        {% render_field questionForm.answer6|attr:'required:true' class="form-control" %}
          <br>
        <label for="answer">Correct Answer 7</label>
        {% render_field questionForm.answer7|attr:'required:true' class="form-control" %}
          <br>
        <label for="answer">Correct Answer 8</label>
        {% render_field questionForm.answer8|attr:'required:true' class="form-control" %}
          <br>
        <label for="answer">Correct Answer 9</label>
        {% render_field questionForm.answer9|attr:'required:true' class="form-control" %}
          <br>
        <label for="answer">Correct Answer 10</label>
        {% render_field questionForm.answer10|attr:'required:true' class="form-control" %}
          <br>

    </div>


    <button type="submit" class="btn btn-success" style="border-radius: 0%;">Submit Question</button>
  </form>
<br><br><br>
{% endblock content %}
